In [1]:
class MyClass:
    def method_1 (self):
        print('This if method_1!')

In [2]:
myclass = MyClass()
myclass.method_1()

This if method_1!

In [5]:
class MyClass2:
    def method_1 (self):
        print('This if method_1!')

In [6]:
myclass2 = MyClass2()
myclass2.method_1()

This if method_1!

In [1]:
file_path = r'C:\Users\samha\Documents\CANVAS\data'

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(file_path + '\processed_unsw_201907_data_raw.csv')

In [6]:
data = data.loc[data['c_id'] == 1700492033]

In [8]:
data.sort_values(by = 'utc_tstamp', inplace = True)

C:\Users\samha\AppData\Local\Temp\ipykernel_21856\1660341547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.sort_values(by = 'utc_tstamp', inplace = True)

In [9]:
data

,c_id,utc_tstamp,energy,power,reactive_power,voltage,duration
18957740,1700492033,2019-07-01 14:00:55.000,-25,-0.416667,183,246.3,60
18957741,1700492033,2019-07-01 14:01:55.000,-25,-0.416667,183,246.1,60
18957742,1700492033,2019-07-01 14:02:55.000,-24,-0.400000,185,246.2,60
18957743,1700492033,2019-07-01 14:03:55.000,-25,-0.416667,186,246.1,60
18957744,1700492033,2019-07-01 14:04:55.000,-26,-0.433333,181,246.2,60
...,...,...,...,...,...,...,...
16094812,1700492033,2019-07-31 13:55:55.000,-24,-0.400000,180,244.5,60
16095351,1700492033,2019-07-31 13:56:55.000,-24,-0.400000,180,244.3,60
16095897,1700492033,2019-07-31 13:57:55.000,-26,-0.433333,180,244.8,60
16096411,1700492033,2019-07-31 13:58:55.000,-23,-0.383333,180,245.1,60
16096936,1700492033,2019-07-31 13:59:55.000,-24,-0.400000,180,245.1,60